<!-- vue de listing des contacts -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List contact</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a style="padding: 5px !important; padding-top: 2px" th:href="@{/login(logout)}">Déconnexion</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#" style="margin-left: 5px;" class="brand-logo">Projet Contact</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">[[${#httpServletRequest.remoteUser}]]<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>

<a style="margin-left:37%;margin-top:100px" type="button" th:href="@{/formContact}" class="btn btn-success">Ajouter un contact</a>
<div class="table-responsive" style="margin-left: 10%;margin-top:100px">
<table class="table  table-bordered"  style="width: 70%" >
    <thead>
    <tr>
        <th th:align="center" >ID</th>
        <th th:align="center">Nom</th>
        <th th:align="center">Prénom</th>
        <th th:align="center">Âge</th>
        <th th:align="center">Adresse</th>
        <th th:align="center">Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="contact : ${contacts}">
        <tr>
            <td th:align="center" th:text="${contact.getId()}">...</td>
            <td th:align="center" th:text="${contact.getNom()}">...</td>
            <td th:align="center" th:text="${contact.getPnom()}">...</td>
            <td th:align="center" th:text="${contact.getAge()}">...</td>
            <td th:align="center">Undefined yet</td>
            <td>
                <a type="button" th:href="@{/formContact(id=${contact.getId()}, name=${contact.getNom()}, prenom=${contact.getPnom()}, age=${contact.getAge()})}" class="btn btn-info">Modifier</a>
                <a type="button" th:href="@{/delContact(id=${contact.getId()})}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</div>
<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
</script>
</body>
</html>